<div class="background-screen">

<div class="container">
  <h1>Mi Querida Princesa</h1>
  <p>
      Desde que llegaste a mi vida, todo ha cambiado de una manera que nunca imaginé. Mi corazón late más fuerte cada vez que pienso en ti, y mi alma se siente más completa a tu lado. Tu risa es la melodía más hermosa que podría escuchar, y tus ojos son los faros que guían mis pasos.
  </p>
  <p>
      A veces, me encuentro mirando el cielo y preguntándome cómo pude tener tanta suerte de encontrar a alguien tan increíble como tú. Tu amor me llena de alegría, de paz, y sobre todo, de una esperanza infinita para el futuro.
  </p>
  <p>
      Sé que las palabras no son suficientes para expresar todo lo que siento por ti, pero quiero que sepas que cada día que paso contigo es un regalo que atesoro profundamente. Gracias por ser mi compañero, mi confidente, mi todo.
  </p>
  <p class="heart">❤️</p>
  <!-- <div class="signature">
    Con todo mi amor
</div> -->
  <div style="align-content: center;">
    <video controls>
      <source src="../../../assets/img/ILikeIt.mp4" type="video/mp4">
    </video>
  </div>
</div>

</div>
