<div class="background-screen">

<div class="container">
  <h1>Mi Querida Princesa</h1>
  <p>
    ¡Feliz cumpleaños! Hoy es un día muy especial, un día en el que celebramos no solo el paso de un año, sino todo lo maravilloso que eres y todo lo que aportas al mundo con tu luz, tu alegría y tu ternura.
  </p>
  <p>
    Me siento increíblemente afortunado de conocerte, de compartir momentos contigo y de aprender de tu fuerza, tu generosidad y tu capacidad para hacer que todo a tu alrededor se vuelva mejor. Eres una mujer única, llena de cualidades que hacen de ti alguien extraordinario. Tu sonrisa ilumina cualquier lugar, tu sabiduría inspira y tu bondad toca los corazones de todos los que te rodean.
  </p>
  <p>
    Espero que este nuevo año de vida te traiga todo lo que deseas y mucho más: salud, amor, felicidad y todos los sueños cumplidos. Que cada día esté lleno de momentos que te hagan sentir tan especial como eres.
  </p>
  <p>
    Hoy es tu día, y no hay nada que me haga más feliz que celebrar tu existencia. Que la alegría y la paz te acompañen siempre, y que este nuevo capítulo sea aún más brillante que el anterior.
  </p>
  <p>
    Y quiero que sepas que siempre voy a estar para ti ❤️!
  </p>
  <!-- <p class="heart">❤️</p> -->
  <!-- <div class="signature">
    Con todo mi amor
</div> -->
  <div style="align-content: center;">
    <video controls>
      <source src="../../../assets/img/ILikeIt.mp4" type="video/mp4">
    </video>
  </div>
</div>

</div>
