
<!-- <div class="collage" style="background-image: url(./assets/img/background.jpg) w-16"> -->
  <div class="collage">
  <!-- FELIZ CUMPLEAÑOS -->
  <div class="floating-leyend d-flex flex-column width=device-width">
    <h1 class="birthday-text">!!!FELIZ CUMPLEAÑOS!!!</h1>
    <h1 class="birthday-text">     !MI PRINCESA!    </h1>
  </div>

  <!-- BOTON DE NAVEGACIÓN A OTRA VENTANA -->
  <div class="floating-button-container d-flex flex-column">
    <button mat-fab (click)="letter()" class="btn"></button>
  </div>

  <!-- IMAGENES -->
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div *ngFor="let image of images">
      <img class="h-auto max-w-full rounded-lg" src="{{image}}"
      alt="" style="width: 300px; height: 300px;">
    </div>
  </div>
</div>
