.floating-button-container {
  position: fixed;
  height:100px;
  width:100px;
  top: 80%;
  left: 47%;
  /* bottom: 60px; */
  /* right: 80px; */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */

}

.btn{
  background-image:url('../../../assets/img/heart.png');
  background-repeat:no-repeat;
  height:80px;
  width:80px;
  background-size: 50px 50px;
  background-position:center;
}
