.collage {
  background-image: url(../../../assets/img/background.jpg);
  max-width: 48;
}


.floating-button-container {
  position: fixed;
  height:100px;
  width:100px;
  top: 80%;
  left: 42%;
  /* bottom: 60px; */
  /* right: 80px; */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.floating-leyend {
  position: fixed;
  top: 20%;
  left: 2%;
  /* bottom: 60px; */
  /* right: 80px; */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.texto {
  color: red;
  font-style: italic;
  font-family: 'Times New Roman', Times;
  width: fit-content;
  height: fit-content;
}

.btn{
  background-image:url('../../../assets/img/heart.png');
  background-repeat:no-repeat;
  height:80px;
  width:80px;
  background-size: 50px 50px;
  background-position:center;
}

.birthday-text {
  font-size: 3em;
  font-weight: bold;
  color: red;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
}
